<?xml version="1.0"?>
<model>
  <name>real_sense_d435i</name>
  <version>1.0</version>
  <sdf version="1.5">real_sense_d435i.sdf</sdf>

  <author>
    <name>Inhwan Wee</name>
    <email>finani@kaist.ac.kr</email>
  </author>

  <description>
    Depth Camera (real_sense_d435i)
  </description>
</model>
